<div class="card shadow h-100">
        <h5 class="card-header">
          Categories
        </h5>
     <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col" class="text-right">
          <a class="btn btn-outline-success btn-sm" href="/categories" role="button" title="Categories">
              <i class="fa fa-plus" aria-hidden="true" title="Categories"></i>
               Add Categories
          </a>
      </th>
    </tr>
  </thead>
  <tbody>
      {{#each this.categories}}
    <tr>
  
      <td class="text-right">

          <a class="btn btn-primary btn-sm" href="/categories" role="button" title="Edit">
              <i class="fa fa-pencil" aria-hidden="true" title="Edit"></i>
          </a>
          <a class="btn btn-danger btn-sm" href="#" role="button" title="Delete">
              <i class="fa fa-trash-o" aria-hidden="true" title="Delete"></i>
          </a>
          
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>